.singleFile-title {
  margin-left: 10px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.singleFile-card-content {
  width: 95%;
  border-top: 1px solid #ccc;
  margin: 20px auto;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.singleFile-card-subtitle {
  margin-bottom: 2rem;
}

.singleFile-card-item span {
  font-size: 0.8rem;
  color: #888;
}

.singleFile-card-item p {
  font-size: 1rem;
  margin-top: 5px;
  margin-bottom: 0.6rem;
}

.tag-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.singleFile-tag {
  background-color: #f4f4f4;
  padding: 4px 8px;
  margin: 0.4rem 0.5rem 0.4rem 0;
  border-radius: 15px;
  text-align: center;
  color: #333;
  cursor: pointer;
}

.card-header img {
  border-radius: 5px;
}

.singleFile-tag p {
  margin: 0;
  padding: 0;
}

.right-corner {
  min-width: 50px;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  top: -5px;

  display: flex;
  flex-direction: row;
  justify-items: baseline;
}

.right-corner-menu {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5px;

  padding: 5px;
}

.right-corner-menu:active {
  background-color: #ccc;
  border-radius: 50%;
}