.signup-form{
  margin-top: 5rem;
}
.term-and-conditions{
  display: flex;
  align-items: center;
  justify-content: center;
}
.term-and-conditions :first-child{
  margin-right: 10px;
}

.login-background-image {
    z-index: -1;
    margin-top:5rem;
}

.otp-background-image {
    z-index: -1;
    margin-top:3rem;
    align-items: center;
}

.login-main-panel {
    position: relative;
    top: auto;
}


.login-title {
    font-size: 16px;
    font-weight:200;
    text-align: center;
    margin-top: 4rem;
    text-transform: capitalize;

}
.phone-number{
  display: flex;
  align-items: center;
  padding: 3px 0 3px 20px;
  margin: 15px 0 1rem 0;
  background-color: rgb(216, 215, 215);
  border-radius: 8px;
}
.input-sign-up{
  display: flex;
  align-items: center;
  padding: 3px 0 3px;
  margin: 15px 0  0;
  background-color: rgb(216, 215, 215);
  border-radius: 8px;
}

.ioninput::placeholder{
  font-size: x-small;
  margin-left: 20px;
  color: rgb(24, 24, 24);
}
.ioninput{
  margin-left: 20px;
}
.IonIcon{
  font-size: 24px;
  color: black;
}
.resend-otp {
  text-align: center;

  margin: auto;
}

.otp-input-style {
  width: 2.1rem !important;
  height: 2.1rem;
  margin: 0 .4rem;
  font-size: 2rem;
  background-color: #E9E9E9;
  border: none;
}

.otp-input-error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.backIcon{
  margin-top:3rem;
  position: absolute;
}
