.profile-photo {
  border-radius: 50%;
  width: 112px;
  overflow: hidden;
}

.profile-card-content {
  width: 95%;
  margin-bottom: 7rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-card-item{
  margin-left: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.profile-card-item .details {
  padding-left: 20px;
}
.profile-card-item .details span {
  font-size: 0.8rem;
  color: #888;
}

.profile-card-item .details p {
  font-size: 1rem;
  margin-top: 5px;
  margin-bottom: 1rem;
  text-transform: capitalize;
  font-weight: 600;
  
}

.profile-page-icon{
  color: black;
  font-size: 28px;
  padding: 5 20px 20px 0;
}
.edit-and-share{
  margin: 20px;
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: space-between;
}
.profile-button {
    color: black;
    background-color: #B4ECF0;

    font-size: 32 !important;
    font-weight: bold;
    min-width: 150px;

    padding: 15px;

    border-radius: 15px !important;
    box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.17), 0px 3.28515px 6.5703px rgba(0, 0, 0, 0.117297), 0px 1.59488px 3.18976px rgba(0, 0, 0, 0.0945694), 0px 0.781839px 1.56368px rgba(0, 0, 0, 0.0754306), 0px 0.30914px 0.618281px rgba(0, 0, 0, 0.0527031);
}
.user-details{
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 7rem;
}

.additional-data{
  width: 100%;
}

.shareinfo-title{
  font-size: 18px;
  font-weight: 700;
  text-decoration: underline;
}
.generated-qrcode{
  top: 30%;
  left: 33%;
  position: absolute;
}

.qr-close-sign{
  top: 70%;
  left: 45%;
  position: absolute;
}
.qr-modal{
  background-color: rgba(0, 0, 0, 0.0527031);
}

.shareinfo-list{  
  margin-top: 2rem;
  margin-bottom: 7rem;
}
.check-box-icon ion-checkbox{
  margin-right: 30px;
}