.card-creator-container {
  display: flex;
  flex-direction: column;
}

#canvas {
  width: 100%;
}

.share-button:last-of-type {
  margin-left: auto;

  display: flex;
  align-items: center;
}

.share-button .share-button-btn {
  border-radius: 15px;
  padding: 7px;
}

.share-button .share-button-btn:hover {
  background-color: rgb(238, 238, 238);
}

.share-button .share-button-btn:active {
  background-color: #ccc;
}
