.hidden {
  display: none;
}

.notification-entry {
  width: 100%;
  display: flex;
  background-color: #fff;
  color: #787878;
  align-items: center;
  border-radius: 20px;
  z-index: 999;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.17), 0px 3.28515px 6.5703px rgba(0, 0, 0, 0.117297), 0px 1.59488px 3.18976px rgba(0, 0, 0, 0.0945694), 0px 0.781839px 1.56368px rgba(0, 0, 0, 0.0754306), 0px 0.30914px 0.618281px rgba(0, 0, 0, 0.0527031);
  border-radius: 10px;
}
.notification-entry ion-icon{
  font-size: 30px;
  color: #08C0CF
}
.notification-entry .header {
  display: flex;
  flex-direction: row;

  border-bottom: 1px solid #ccc;
}

.notification-entry .header .title {
  font-weight: bold;
}
.notification-entry .body{
  margin-left: 30px;
}

.notification-title {
  margin-left: 10px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dismiss-button:last-of-type {
  margin-left: auto;

  display: flex;
  align-items: center;

  z-index: 999;
}

.dismiss-button .dismiss-button-btn {
  border-radius: 15px;
  padding: 7px;
  color: #bdbcbc ;
}

.dismiss-button .dismiss-button-btn:hover {
  background-color: rgb(238, 238, 238);
}

.dismiss-button .dismiss-button-btn:active {
  background-color: #ccc;
}
