.hidden {
    display: none;
}

.download-container {
    width: 100%;

    display: flex;
    flex-direction: column;
}

.card-header {
    color: black;

    display: flex;
    flex-direction: row;
}

.share-button:last-of-type {
 margin-left: auto;

 display: flex;
 align-items: center;
}

.share-button .share-button-btn {
  border-radius: 15px;
  padding: 7px;
}

.share-button .share-button-btn:hover {
  background-color: rgb(238, 238, 238);
}

.share-button .share-button-btn:active {
  background-color: #ccc;
}

.download-title {
    margin-left: 10px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-content {
    width: 95%;
    border-top: 1px solid #ccc;

    margin: 20px auto 0 auto;
    padding: 20px !important;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-content img {
    border: 1px dashed black;
    margin: 0 auto;
}

.card-subtitle {
    width: 95%;
    border-top: 1px solid #ccc;

    text-align: center;
    color: #777777;

    margin: 0 auto 20px auto;
}

.card-subtitle .button {
  margin-top: 10px;
}