:root {
    --primary-color: #3f84fd;
    --secondary-color: #478aff;
    --tertiry-color: #5f99fd;
    --muted-color: rgb(161, 161, 161);
}
@font-face {
  font-family: 'Archivo-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/Archivo-Regular.ttf');
}

*,body,p,h1,h2,h3,h4,h5,span,label {/* 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'Archivo-Regular'!important;
}
body{
    background-color: white;
}
.text-dark{
    color: black!important;
}
.muted {
    color: var(--muted-color);
}

.main-container {
    width: 100%;
    padding-right: 7.5%;
    padding-left: 7.5%;
    display: flex;
    flex-direction: column;
}

.center {
    margin: 0 auto;
}

.row-vertical {
    width: 100%;

    display: flex;
    flex-direction: column;
}

.custom-button {
    color: white;
    background-color: #08C0CF;

    font-size: 32 !important;
    font-weight: bold;
    min-width: 150px;

    padding: 15px;

    border-radius: 25px !important;

    outline: none;
}

.custom-button:hover {
    background-color: var(--secondary-color);
}

.custom-button:active {
    background-color: var(--tertiry-color);
}

.text-center {
    text-align: center;
}

ion-item {
    margin: .5rem 0 !important;
}

.menu-container{
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.menu-tabs {
    overflow: hidden;
    width: 45%;
    margin: 10px;
    z-index: 100000;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.menu-tabs-icon {
  color: #10c1cb;
}


.menu-tabs-icon ion-icon{
  font-size: 28px;
}
.tabs-right{
    margin-left: 30px;

}
.tabs-left{
    margin-right: 30px;
}

.scan-icon{
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    bottom: 0;
    margin-bottom: 35px;
    right: 42%;
    color: white;
    z-index: 100;
    background-color: #10c1cb;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.scan-icon ion-icon{
    font-size: 40px;
    border-radius: 50%;
    padding: 0%;
}
.button {
    color: white;
    font-size: 42 !important;
    font-weight: bold;
    min-width: 229px;
    padding: 15px;
    outline: none;
    
    
  box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.17),
              0px 3.28515px 6.5703px rgba(0, 0, 0, 0.117297), 
              0px 1.59488px 3.18976px rgba(0, 0, 0, 0.0945694), 
              0px 0.781839px 1.56368px rgba(0, 0, 0, 0.0754306), 
              0px 0.30914px 0.618281px rgba(0, 0, 0, 0.0527031);
  border-radius: 20px;
}

.login-button{
    background-color: #08C0CF;
    margin-bottom: 1rem;
}
.signup-button{
  background: linear-gradient(90deg, #232526 0%, #414345 100%);
}
.upload-button{
    background-color:  #B4ECF0;
    color: black;
    padding: 15px 25px 15px 25px;
    box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.17),
                0px 3.28515px 6.5703px rgba(0, 0, 0, 0.117297), 
                0px 1.59488px 3.18976px rgba(0, 0, 0, 0.0945694), 
                0px 0.781839px 1.56368px rgba(0, 0, 0, 0.0754306), 
                0px 0.30914px 0.618281px rgba(0, 0, 0, 0.0527031);
    border-radius: 10px;
}

.sm-button{
    background-color:  #77e66d;
    color: black;
    padding: 10px 10px 10px 10px;
    margin-left: 10px;
    box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.17),
                0px 3.28515px 6.5703px rgba(0, 0, 0, 0.117297), 
                0px 1.59488px 3.18976px rgba(0, 0, 0, 0.0945694), 
                0px 0.781839px 1.56368px rgba(0, 0, 0, 0.0754306), 
                0px 0.30914px 0.618281px rgba(0, 0, 0, 0.0527031);
    border-radius: 10px;
}